@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #C8102E;
  --cor2: #DEDBDB;
  --cor3: #fff;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* estado inicial */
body {
  opacity: 1;
  transition: opacity 0.5s;
}

/* classe para saída */
body.fade-out {
  opacity: 0;
}


.logo {
  height: 130px;
  width: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  position: relative;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 10px;
}

.home,
.servicos,
.sobre,
.contato,
.trabalheconosco {
  text-decoration: none;
  background-color: var(--cor1);
  color: var(--cor3);
  padding: 5px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.login,
.registrar {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  gap: 1rem;
}

.cadastro {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cadastro i {
  color: var(--cor1);
  font-size: 1.8rem;
}

.cadastro a {
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#btn-carrinho {
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--cor1);
}

#contador-carrinho {
  position: absolute;
  top: -8px;
  right: -10px;
  background: var(--cor1);
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 2px 6px;
  font-weight: 700;
}

.banner-desconto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: var(--cor2);
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.banner-desconto h1 {
  font-size: 3rem;
  color: #2c2b2b;
}

.banner-desconto span {
  color: var(--cor1);
  font-size: 3rem;
}

.banner-desconto a {
  background-color: var(--cor1);
  color: var(--cor3);
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

/* BUSCA */



.busca {
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
background-color: var(--cor1);
}
.input-caixa {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}


.input-caixa input  {
  width: 30rem;
  max-width: 400px;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid var(--cor1);
  border-radius: 8px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

::placeholder {
  color: var(--cor1);
  opacity: 0.7;
}


.busca i {
  position: absolute;
  right: 120px; /* ou ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}


.busca button {
  padding: 10px 20px;
  background-color: var(--cor3);
  color: var(--cor1);
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.resultados-pesquisa {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--cor2);
}


.item-resultado {
  flex: 1 1 300px; /* Cresce, diminui, base 300px */
  max-width: 350px;
  border-radius: 0.6rem;
  padding: 1rem;
  box-shadow: 0 2px 8px #00000075;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
  opacity: 0;
}


.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 400px;
  height: auto;
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
  cursor: pointer;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--cor3);
  opacity: 0;
}


.container-card:hover {
  transform: scale(1.05);
}

.item-resultado img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h3 {
  font-size: 1.5rem;
  color: var(--cor1);
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.texto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-resultado p {
  font-size: 1.2rem;
  color: var(--cor1);
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
}
.item-resultado .preco {
  font-size: 1.5rem;
  color: var(--cor1);
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
}
.item-resultado button {
  background-color: var(--cor1);
  color: var(--cor3);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
} 
.item-resultado button:hover {
  background-color: #a00f27;
}



.opcoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--cor1);
  width: 100%;
  height: 100px;
}

.opcoes a {
  text-decoration: none;
  color: var(--cor3);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0 20px;
}

.opcoes i {
  color: var(--cor3);
  font-size: 2rem;
  padding: 10px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* remove barra horizontal */
  scroll-behavior: smooth;
  
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.hero-bg {
  display: flex;
  width: 400vw; /* 4 slides */
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  width: 100vw; /* cada slide ocupa exatamente a tela */
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  flex-shrink: 0; /* evita que o flex reduza a largura do slide */
}






.add-cart-btn {
  background-color: var(--cor1);
  color: var(--cor3);
  border: none;
  padding: 10px 0;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-cart-btn:hover {
  background-color: #a00f27;
}

.painel-carrinho {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 300px;
  max-height: 80vh;
  background: white;
  border: 2px solid var(--cor1);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(200, 10, 40, 0.5);
  overflow-y: auto;
  z-index: 1000;
}

.painel-carrinho.oculto {
  display: none;
}

.painel-carrinho h2 {
  font-family: 'Poppins', sans-serif;
  color: var(--cor1);
  margin-bottom: 10px;
  text-align: center;
}

#itens-carrinho {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.item-carrinho img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.item-carrinho-info {
  flex: 1;
  margin-left: 10px;
}

.item-carrinho-info p {
  margin: 0;
}

.botao-remover {
  background: transparent;
  border: none;
  color: var(--cor1);
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
}

.total-carrinho {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: right;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

#fechar-carrinho {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  background-color: var(--cor1);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

#fechar-carrinho:hover {
  background-color: #a00f27;
}

.retorno {
  font-family: 'Poppins', sans-serif;
  color: var(--cor1);
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}


/* SOBRE */




 /* CARROSSEL DE PRODUTOS */

.carrossel-produtos {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.titulo-secao {
  font-size: 28px;
  margin-bottom: 30px;
  color: #b10032;
}

.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.card-produto {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: left;
  display: none;
  flex-direction: column;
  align-items: center;
}

.card-produto.ativo {
  display: flex;
}

.imagem-produto {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.info-produto h3 {
  margin: 15px 0 10px;
  color: #333;
}

.info-produto p {
  color: #555;
}

.preco {
  font-size: 20px;
  color: #b10032;
  margin: 10px 0;
}

.btn-carrinho {
  padding: 10px 20px;
  background-color: #b10032;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-carrinho:hover {
  background-color: #8a0028;
}

.btn-anterior,
.btn-proximo {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #b10032;
}





/* SWIPER */
.swiper-section {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cor2);
   background-image: url('src/img/fundo-servicos2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  
  
}

.swiper-section h2 {
  margin-top: 2rem;
  color: var(--cor1);
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
}

.swiper-section h3 {
  margin-top: 1rem;
  color: var(--cor1);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;

}

.swiper-section h2 i {
  color: var(--cor1);
  font-size: 3rem;
  margin-left: 1rem;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1300px; /* aumente esse valor */
  width: 95%;
  height: 80vh; /* altura maior */
  margin: auto;
  background-color: var(--cor1);
  border-radius: 1.5rem;
  padding: 3rem;
    cursor: pointer;
}


.slide-content img {
  width: auto;
  max-width: 600px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  border: 5px solid var(--cor3);
}

.overlay-hover {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.overlay-hover img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.overlay-hover .overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000091; /* escurece */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.overlay-hover .overlay-text a {
  color: #fff;
  font-size: 1.5rem;
  margin: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.overlay-hover:hover img {
  transform: scale(1.05);
}

.overlay-hover:hover .overlay-text {
  transform: translateY(0);
}



.slide-text {
  width: 50%;
  text-align: center;
  padding: 1rem; 
}

.logo-servico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  background-color: var(--cor3);
}

.slide-text img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.slide-text h3 {
  font-size: 2rem;
  color: var(--cor1);
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor3);
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto 1rem auto; 
  padding: 0px 15px;
  text-align: center;
}

.slide-text p {
  font-size: 1.5rem;
  color: var(--cor3);
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
text-align: start;
}


/* Botões do Swiper */
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--cor1);
  color: #fff;
  padding: 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
 
  
}
.swiper-button-next {
  right: 200px;
}
.swiper-button-prev {
  left: 200px;
}



/* SESSÃO FOOTER */

.container_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}
    
.bloco1 {
    grid-row: span 5 / span 5;
}

.bloco2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

.bloco3 {
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}
        
.bloco3 img {
  max-width: 100px;
  
}

.contato_info {
  height: 100dvh;
  padding: 30px;
}

.container_info {
  padding: 30px;
  margin: 0 auto;
  background-color: var(--cor1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.container_info img {
  max-width: 150px;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-self: center;
}

.fale_conosco, .televendas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor3);
  border-radius: 20px;
  padding: 20px;
}

.fale_conosco h3, .televendas h3 {
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.fale_conosco i, .televendas i {
  padding: 10px;
}

.fale_conosco a, .televendas a {
  color: #584C4C;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.fale_conosco a:hover, .televendas a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container_footer ul li {
  list-style: none;
  margin: 5px 0;
}

.bloco1 ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.bloco1 ul li a {
  text-decoration: none;
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.bloco1 ul li a:hover {
  text-decoration: underline;
}

.bloco2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.bloco2 h3 {
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
  padding: 10px;
}

.redes-sociais a {
  color: var(--cor1);
  font-size: 2rem;
  transition: all 0.3s ease;
}

.redes-sociais a:hover {
  color: var(--cor2);
  
}


.nossas-lojas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 10px;
  margin-top: 20px;
}

.nossas-lojas h4 {
  color: var(--cor3);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  background-color: var(--cor1);
}

.nossas-lojas  i {
  color: var(--cor3);
  font-size: 1.5rem;
  margin-right: 10px;
}

.bi.bi-geo-fill {
  color: var(--cor1);
  font-size: 1.2rem;
  margin-right: 10px;
}


.endereco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.endereco a{
  text-decoration: none;
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.endereco a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bloco3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 3rem;
}

.bloco3_itens p {
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center; 
}

.bloco3_itens2 p {
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.bloco3_itens2_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2rem;
}

.bloco3_itens2_img img {
  max-width: 130px;
}

.container_footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 2rem;
}

.container_footer2 h4 {
  color: var(--cor1);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: var(--cor2);
}

.container_footer2 img {
  max-width: 450px;
  height: auto;
  margin-bottom: 10px;
}